@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="btn_menu">
        <a class="btn-primary btn_addition" style="margin-bottom: 10px" asp-area="" asp-controller="Home" asp-action="Viewing">Просмотр архивов</a>
        <a class="btn-primary btn_addition" asp-area="" asp-controller="Home" asp-action="Downloading">Загрузка архивов</a>
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
